h1 {
	text-align: center;
}
h2 {
	text-align: center;
	margin: 100px 0px 0px 0px;
}
.startsida {
	background-image: url(startsida.jpg);
	background-size: 1920px 1080px;
}
p {
	margin-top: 20px;
	
}
.text {
	border: #919191 solid;
	background-color: white;
	width: 700px;
	padding-left: 10px;
	padding-right: 10px;
	
	
}
.texth {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.shaq {
	padding-top: 10px;
}
.maralia {
	width: 675px;
	height: 420px;
}

.hur {
	float: right;
	background-color: white;
	border: #919191 solid;
	
}
.intro {
	text-align: center;
}

