h1 {
	text-align: center;
}
h2 {
	text-align: center;
	margin: 100px 0px 0px 0px;
}
.startsida {
	background-image: url(startsida.jpg);
	background-size: 1920px 1080px;
}
p {
	margin-top: 20px;
	text-align: center;
}